:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;

}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;

}


.container {
    
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 94px;
    padding-bottom: 94px;
}

.section {


}

/*боди*/

body {
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

/*шапка сайта*/

.logo  {
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

}


.main-nav {
    display: flex;
    align-items: center;   
}

.mail-nav :hover {
    color: var(--accent-color);
}


.logo>span {
    color: var(--accent-color);
}


.site-nav-item:not(:last-child) {
    margin-right: 50px;
}


.site-nav {
    display: flex;
    margin-left: 85px;
}

.site-nav a {
    
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.2;
    text-decoration: none;
    
}

.site-nav :hover{
    color: var(--accent-color);
}

.site-nav :active{
    color:var(--title-text-color)
}

.mail {
    color: var(--title-text-color);
    text-decoration: none;

    margin-right: 50px;
}

.mail-pick ::before{
    content: "";
    background-image: url(../img/envelope\ .png);
}

.phone-pick ::before{
    display: block;
    content: "";
    background-image: url(../img/phone.png);
}


.mail-nav {
    display: flex;
    margin-left: auto;
}

.heading {
    margin-top: 0;
    margin-bottom: 80px;


    color: #FFFFFF;

    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;

}
.pickcha {
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;


    background-image: url(../img/Header\ img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
      
}

.subtitle {
    
    color:var(--primary-text-color);

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;

    display: flex;
    flex-wrap: wrap;
    
}


.text {
    color:var(--title-text-color);

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;

}
/*фильтр профиль*/


/*проекти*/

.project {
display: flex;
flex-wrap: wrap;
}

.project-element {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE;
}

.project-element:nth-child(3n){
    margin-right: 0px;
}

.project-element:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

.project-text {
    padding-left: 24px;
  
    padding-top: 20px;
    padding-bottom: 20px;

}

/*преимущества*/

.advantages {
    display: flex;
    flex-wrap: wrap;
}

.advan-list {
    width: calc((100% - 30px * 3) / 4);
}

.advan-list:not(:last-child) {
    margin-right: 30px;
}

.advan-list::before{
    display: block;
    content: "";
    
    height: 120px;
    border-radius: 4px;
    
    background-repeat: no-repeat;
    background-position: center;
    background-color:  #F5F4FA;
    
}

.advan-list:nth-child(1)::before {
    background-image: url(../img/sputnik.png);
}

.advan-list:nth-child(2)::before {
    background-image: url(../img/clock\ 1.png);
}

.advan-list:nth-child(3)::before {
    background-image: url(../img/diagram\ 1.png);
}

.advan-list:nth-child(4)::before {
    background-image: url(../img/astronaut\ 1.png);
}

/*примеры работы*/

.comanda {
    padding-top: 95px;
    padding-bottom: 95px;
}

.subject {
    margin-top: 0;
    margin-bottom: 50px;

    color:var(--primary-text-color);
    

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;

}

.fon {
    height: 702px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F4FA;
}

.subject-element {
    display: flex;
    flex-wrap: wrap;
}

.subject-element:not(:last-child) {
    margin-right: 30px;
}

.sub-element:not(:last-child) {
    margin-right: 30px;
}



/*клиенты*/

.clients {
    color:var(--primary-text-color);
    
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.clients-title {
    color:var(--title-text-color);
    
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    
}

.client-title::before {
    display: block;
    content: "";
    
    height: 90px;
    border-radius: 4px;
    
    border: 1px solid #AFB1B8;

    background-repeat: no-repeat;
    background-position: center;

}

.client-title:nth-child(1)::before {
    background-image: url(../img/logo\ 1.png);
}

.client-title:nth-child(2)::before {
    background-image: url(../img/logo\ 2.png);
}

.client-title:nth-child(3)::before {
    background-image: url(../img/logo3.png);
}

.client-title:nth-child(4)::before {
    background-image: url(../img/logo\ 4.png);
}

.client-title:nth-child(5)::before {
    background-image: url(../img/logo\ 5.png);
}

.client-title:nth-child(6)::before {
    background-image: url(../img/logo6\ .png);
}

.client-element {
    display: flex;
    flex-wrap: wrap;


    margin: 0 0 20px;
}
.client-title:not(:last-child) {
    margin-right: 30px;
}

.client-title {
    width: 170px;  

}

.team {
    display: flex;
    flex-wrap: wrap;


}

.team-element {
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-element:not(:last-child)  {
    margin-right: 30px;   
}

.button.primary {
    color: #FFFFFF;
    background-color: var(--accent-color); 
}

.button {
    display: inline-block;
    border: 1px;
    border-radius: 6px;
    padding: 11px 34px;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    text-decoration: none;
    text-align: center;
      
}

.btn {
   text-align: center;
   margin-right: 8px;
   margin-bottom: 54px;

}

.btn-element {
    display: inline-block;
    border: 1px;
    border-radius: 6px;
    padding: 11px 34px;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    text-decoration: none;
    text-align: center;
}

button:hover {
    background-color: var(--accent-color);
    color: #FFFFFF;
}





/*проект*/

.post {
    color: #212121;

    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
}

.post-title {
    color: var(--title-text-color);

    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.9;
}

/*футер*/

.address  {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    
}


.contact {
    background-color: #2F303A;

    display: flex;
    justify-content: space-between;
    
}


.aside {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.link {
    display: flex;
} 

.itfl {
    margin-right: 10px;
    background: rgba(255, 255, 255, 0.1);
}

.add-info {
    margin-top: 20px;
}

.logo-footer {
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
    text-decoration: none;

}


.logo-footer>span {
    color: var(--accent-color);
}
.fon-footer {
    
    width: 1600px;
    margin-left: auto;
    margin-right: auto;

    background-color: #2F303A; ;
}


/*преимущества*/

